# Desafio (Parte 2) - Extraindo Informações

## Case baseado no desafio do Kaggle: "Instacart Market Basket Analysis"

Esse desafio é baseado em uma competição do Kaggle ([https://www.kaggle.com](https://www.kaggle.com)) de 2017, onde é pedido para fazer a predição de se um produto será comprado por dado usuário no carrinho atual, baseado em suas compras anteriores.

Não está no escopo da aula 



Link para o desafio: [https://www.kaggle.com/c/instacart-market-basket-analysis](https://www.kaggle.com/c/instacart-market-basket-analysis)

## Origem dos Dados:

Os dados mostrados nesse desafio são uma amostra extraída do dataset disponibilizado gratuitamente pela empresa Instacart ([https://www.instacart.com/](https://www.instacart.com/)) **\***. São dados reais do banco de dados da empresa, que foram anonimizados para o uso por pesquisadores e em competições de Data Science.

 
###### * “The Instacart Online Grocery Shopping Dataset 2017”, Accessed from [https://www.instacart.com/datasets/grocery-shopping-2017](https://www.instacart.com/datasets/grocery-shopping-2017) on March 10, 2017.

## Tabelas e Colunas Importantes

As Tabelas e suas respectivas colunas estão mostradas abaixo, junto com a descrição do significado de cada coluna:

* Colunas da Tabela `orders`:

    * ´order_id´: order identifier
    * ´user_id´: customer identifier
    * ´eval_set´: which evaluation set this order belongs in (see SET described below)
    * ´order_number´: the order sequence number for this user (1 = first, n = nth)
    * ´order_dow´: the day of the week the order was placed on
    * ´order_hour_of_day´: the hour of the day the order was placed on
    * ´days_since_prior´: days since the last order, capped at 30 (with NAs for order_number = 1)
    
* Colunas da Tabela `products (50k rows):

    * ´product_id´: product identifier
    * ´product_name´: name of the product
    * ´aisle_id´: foreign key
    * ´department_id´: foreign key

* Colunas da Tabela `aisles (134 rows):

    * ´aisle_id´: aisle identifier
    * ´aisle´: the name of the aisle

* Colunas da Tabela `deptartments (21 rows):

    * ´department_id´: department identifier
    * ´department´: the name of the department

* Colunas da Tabela `order_products__SET (30m+ rows):

    * ´order_id´: foreign key
    * ´product_id´: foreign key
    * ´add_to_cart_order´: order in which each product was added to cart
    * ´reordered´: 1 if this product has been ordered by this user in the past, 0 otherwise

___

# Import

In [2]:
import os
import pandas as pd

In [32]:
os.getcwd()

'/Users/gabrielsoares/Dropbox/Tera/tera-dsc-abr2018/07-structured-data-analysis'

# Objetivo:

Analisar o dataset gerado na Seção 3 e responder às questões.

# Dataset

In [14]:
file_name = os.path.join("data", "dataset.csv")

In [15]:
dataset = pd.read_csv(file_name, sep=",", index_col=0, encoding="utf-8")

/anaconda3/lib/python3.6/site-packages/numpy/lib/arraysetops.py:466: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [16]:
""" Facilitando a vida """
# baseado em uma thread do Kaggle sobre esse desafio, os dias da semana são definidos na seguinte ordem:
week_days = ["saturday", "sunday", "monday", "tuesday", "wednesday", "thursday", "friday"]

# traduzindo no dataset
dataset.order_dow = dataset.order_dow.map(lambda wd: week_days[wd])

In [17]:
os.path.join('ahuahua','ajaua')

'ahuahua/ajaua'

In [18]:
dataset.head()

   order_id  user_id  order_dow department        aisle product_name
0   1187899        1  wednesday  beverages  soft drinks         Soda
1   2757217       67   saturday  beverages  soft drinks         Soda
2    632715      676   saturday  beverages  soft drinks         Soda
3   1167274      760  wednesday  beverages  soft drinks         Soda
4   3347074      804    tuesday  beverages  soft drinks         Soda

# Questões

## A) Quantos usuários únicos fizeram pedidos?

In [20]:
len(dataset.user_id.unique())

117221

## B) Qual o produto que apareceu em mais pedidos?

In [36]:
""" Entre com o Código aqui """
g = dataset.groupby('order_id')
tmp = g.product_name.value_counts()
dataset.product_name.value_counts()

Banana                                                                         16784
Bag of Organic Bananas                                                         13790
Organic Strawberries                                                            9740
Organic Baby Spinach                                                            8734
Large Lemon                                                                     7254
Organic Avocado                                                                 6642
Organic Hass Avocado                                                            6545
Strawberries                                                                    5775
Limes                                                                           5383
Organic Raspberries                                                             5002
Organic Blueberries                                                             4473
Organic Whole Milk                                                              4384
Organic Cucumber                                                                4122
Organic Zucchini                                                                4108
Organic Yellow Onion                                                            3790
Organic Garlic                                                                  3686
Seedless Red Grapes                                                             3594
Asparagus                                                                       3462
Organic Red Onion                                                               3442
Organic Grape Tomatoes                                                          3436
Yellow Onions                                                                   3363
Organic Baby Carrots                                                            3228
Honeycrisp Apple                                                                3172
Organic Cilantro                                                                3164
Organic Lemon                                                                   3119
Sparkling Water Grapefruit                                                      2990
Raspberries                                                                     2924
Organic Fuji Apple                                                              2882
Small Hass Avocado                                                              2782
Broccoli Crown                                                                  2633
                                                                               ...
Milano Lemon Flavored Chocolate Cookies                                            1
Balsamic Vinaigrette & Marinade, Fat Free                                          1
Mountain Spring Ultra Fabric Softener                                              1
ColorGuard HE Turbo Clean Liquid Laundry Detergent, 92 oz, 48 loads Laundry        1
100% Concord Grape Juice, No Sugar Added                                           1
Strawberry Peach And Mango Adult Vitamin D3 Gummies                                1
Art's Original Blend Bar                                                           1
Triple Soothing Action Mentho Lyptus Cough Drops Bonus Bag                         1
Chardonnay Paso Robles                                                             1
SPF 30 Mineral Sheer Moisturizer                                                   1
Simply 100 Crunch Mix Berry                                                        1
Star Light Candles                                                                 1
Fruit Punch Rush Juice                                                             1
Fudge Dipped Coconut Granola Bars                                                  1
Kids Only! Extra Gentle Shampoo                                                    1
The Icicle Reusable Ice Substitute                                                 1
Michael Recchiuti Extra Bitter Chocolate Sauce                                     1
Veggie Meatless Meatballs                                                          1
Waxed Paper Bags                                                                   1
Foldit Flatbreads Artisan Rosemary & Olive Oil                                     1
Original Organic Soymilk                                                           1
Dailyware Variety Pack                                                             1
Slippery Elm Pure Maple Sugar Lozenges                                             1
Strawberry de Mexico                                                               1
One Plant-Based Natural Nutritional Shake Drink Mix                                1
Vanilla Candiquik Candy Coating                                                    1
Arroz Calasparra Paella Rice                                                       1
Triple Berry Preserves                                                             1
Rooibos Chai Caffeine Free Herbal Tea                                              1
Freezer Safe Regular Mouth Quilted Crystal Jelly Jars 8 Oz                         1
Name: product_name, Length: 38222, dtype: int64

## C) Quais os usuários que fizeram mais e menos pedidos?

In [69]:
""" Entre com o Código aqui """
len(dataset.order_id.unique())

117221

## D) Qual a média e o desvio padrão da quantidade de produtos presentes em um pedido um usuário?

In [76]:
""" Entre com o Código aqui """
g = dataset.groupby(['order_id'])
s = g.product_name.count()
s.describe()

count    117221.000000
mean         10.564191
std           7.945047
min           1.000000
25%           5.000000
50%           9.000000
75%          14.000000
max          80.000000
Name: product_name, dtype: float64

## E) Qual a média, a mediana, o mínimo e o máximo da quantidade de corredores (`aisles`) por departmento (`department`)?

In [99]:
""" Entre com o Código aqui """
g = dataset.groupby('department')
g.aisle.unique().map(len).describe()[['mean', '50%', 'min', 'max' ]]

mean     6.380952
50%      5.000000
min      1.000000
max     17.000000
Name: aisle, dtype: float64

## F) Qual o dia da semana em que ocorrem mais pedidos de produtos para cada departmento (`department`)?

In [115]:
""" Entre com o Código aqui """
g = dataset.groupby(['order_dow', 'department'])
g2 = g.product_name.count()
g3 = g2.unstack()
g3

department,alcohol,babies,bakery,beverages,breakfast,bulk,canned goods,dairy eggs,deli,dry goods pasta,...,household,international,meat seafood,missing,other,pantry,personal care,pets,produce,snacks
order_dow,,,,,,,,,,,,,,,,,,,,,
friday,683,1769,6441,14623,3694,170,6334,28728,5793,5397,...,4858,1630,4353,1214,263,11509,3115,687,55197,14554
monday,578,1637,5081,12575,3218,150,4876,22388,4623,4035,...,3979,1182,2946,781,184,8365,2341,421,40960,13082
saturday,640,3143,10088,20249,5936,275,10422,45579,9530,8500,...,6697,2693,6958,1833,329,16506,4251,801,93313,22366
sunday,571,1929,6338,15324,4146,162,6214,28977,6106,5183,...,4497,1562,3908,959,223,10253,2724,600,54798,16369
thursday,929,1761,5636,14215,3434,171,4915,25249,5045,4156,...,4344,1263,3297,1010,217,9547,2479,590,44699,14222
tuesday,753,1568,4799,12441,3044,141,4471,21558,4321,3655,...,3905,1196,2771,817,215,8164,2265,467,38093,13190
wednesday,853,1517,4876,12578,2984,149,4461,21903,4226,3695,...,4019,1111,2846,775,183,8394,2159,459,38580,12661

##  G) Quais foram os 5% piores e os 5% melhores corredores (`aisle`) em termos de vendas?

In [ ]:
""" Entre com o Código aqui """

##  H) Quais foram os 5 produtos mais comprados de cada departamento na terça-feira? 

### Mostre em uma tabela como no exemplo:

| departamento | 1o produto | 2o produto | 3o produto | 4o produto | 5o produto |
|:------------ |:---------- |:---------- |:---------- |:---------- |:---------- |
| depart 01    | prod A     | prod W     | prod L     | prod H     | prod D     |
| depart 02    | prod X     | prod Q     | prod B     | prod S     | prod P     |
| ...          | ...        | ...        | ...        | ...        | ...        |

In [ ]:
""" Entre com o Código aqui """

## I) Quais são os 2 corredores (`aisles`) que são visitados juntos no mesmo pedido mais vezes em uma sexta-feira?

In [ ]:
""" Entre com o Código aqui """

## J) Quais as duplas de produtos que mais saem juntas no pedido (`order_id`) de um usuário em uma sexta-feira?

In [ ]:
""" Entre com o Código aqui """